@{
    ViewData["Title"] = "Домашня сторінка";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>
<body>

<div class="text-center">
        <h1 class="maintext">Ласкаво просимо на AlwaysReady</h1>

    <img src="~/images/Aid.png" alt="Aid" class="mainimg" />


    <form id="roleForm" method="get" class="btn-container">
            <label for="role" style="font-size: 18px; color: #333;">Виберіть свою роль:</label>
        <select id="role" name="role" style="padding: 10px; font-size: 16px; margin-bottom: 20px;">
                <option value="Volunteer">Волонтер</option>
                <option value="Carrier">Перевізник</option>
        </select>
    </form>

    <form id="registerForm" method="get" class="btn-container">
            <button type="submit" class="btn-registration" id="registerButton">Реєстрація</button>
    </form>

    <form id="loginForm" method="get" class="btn-container">
            <button type="submit" class="btn-login" id="loginButton">Логін</button>
    </form>
</div>
</body>
</html>

<script>
    document.getElementById('registerButton').addEventListener('click', function(event) {
        event.preventDefault();
        const role = document.getElementById('role').value;
        let url = '';

        if (role === 'Volunteer') {
            url = '/Volunteer/VolunteerRegistration'; 
        } 
        
        else if (role === 'Carrier') {
            url = '/Carrier/CarrierRegistration'; 
        }

        // Переадресація на відповідну форму логіну
        window.location.href = url;
    });


    document.getElementById('loginButton').addEventListener('click', function(event) {
        event.preventDefault();
        const role = document.getElementById('role').value;
        let url = '';

        if (role === 'Volunteer') {
            url = '/Volunteer/VolunteerLogin';
        } 
        else if (role === 'Carrier') {
            url = '/Carrier/CarrierLogin'; 
        }

        window.location.href = url;
    });
</script>

