@model Volunteer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/registration/volregistration.css" asp-append-version="true" />

</head>
<body>

<div class="container">
    <h1>Volunteer Registration</h1>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Volunteer's name</label>
            <input type="text" asp-for="Name" class="form-control" required />

            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password" class="form-control" required />
    
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn">Sign up</button>
    </form>
</div>
</body>
</html>
